/**
 * @file
 * Custom styling for the HR website.
 */

@media only screen and (min-width: 768px) {

  .node-emplgroup .field-name-field-photo {
    float: right;
    margin: 0 0 1em 1em;
  }

  .empl-fields > .empl-column {
      display: inline-block;
      padding: 0 4px 0 0;
      vertical-align: top;
      width: 32%;
  }

}
